/* Zera margens padrão */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estiliza o menu */
.menu {
  background-color: #777; /* cinza escuro */
  padding: 10px;
}

/* Estiliza o botão do menu */
#menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Título centralizado */
h1 {
  text-align: center;
  margin-top: 20px;
}
